.benefits{
    display: flex;

    @include phones{
        flex-direction: column;
    }
  
    &__item{
        flex: 1;
        padding: 0 3%;
        position: relative;

        @include phones{
            padding: 0px;
            margin-bottom: rem(24px);
        }

        &:before{
            content: url("../img/decor/separator.png");
            position: absolute;
            top: rem(55px);
            right: 0;
            transform: translateX(50%);

            @include tablets{
                display: none;
            }

            @include phones{
                display: none;
            }
        }

        &:first-child{
            padding-left: 0;
        }

        &:last-child{
            padding-right: rem(0px);
            

            &::before{
                display: none;
            }
        }
    }
}