.btn{

    font-size: rem(16px);
    font-weight: 700;
    padding: rem(18px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;
    
    &__color{
        
        &--red{
            background: $red;
            color: $white;

            &:hover{
                background: $lightRed;
                color: #4d4c4c;
            }
        }    

        &--dark{
            color: $white;
            background: $Dark;

            &:hover{
                color: $red;
                background: $white;
            }
        }    
    
        &--transparent{
            background: transparent;
            font-weight: 200;
            color: #FFFFFF;
            text-transform: none;
            
            &:hover{
                color: $Dark;
                background: #FFFFFF;
            }
        }
    }
}