.fixed-menu{
    position: fixed;
    top: 34%;
    right: 5%;
    z-index: $z-fixed-menu;

    &__item{
        margin-bottom: rem(5px);
    
        &--active{
            .fixed-menu__link{
                border-color: $red;
            }
        }
    }

    &__link{
        width: rem(18px);
        height: rem(18px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        position: relative;

        &::before{
            content: "";
            display: block;
            width: rem(9px);
            height: rem(9px);
            border-radius: 50%;
            background: $red;
            position: absolute;
            top: 25%;
            left: 25%;
            transform: translate(-50% -50%);
        }
    }
}