.hero{
    background-color: $grey;
    height: 100vh;
    min-height: rem(652px);
    color: #292929;
    position: relative;/*для прямоугольничка &:before*/


    &:before{
        position: absolute;
        bottom: rem(-30px);
        left: 84%;
        content: url("../img/decor/corner-rectangle-1.png");
    }
    
    &__icons-section{
        @include tablets{
            display: none;
        }
    }
    
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: url("../img/decor/headphones-1.png") right center / 50% no-repeat;
        padding: rem(31px) rem(0px) rem(70px);

        @include tablets{
            background: none;
        }
    }

    &__title-section{
        width: 42%;
        

        @include tablets{
            width: 100%;
            flex: 1;  //растянуть на всю высоту
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;   //поперечн ось выравн
            text-align: center;

            &:before{
                content: "";
                width: rem(323px);
                height: rem(323px);
                background: url("../img/decor/headphones-1.png") center center/contain no-repeat; //contain-чб изобр сжим под р-р экр
                margin-bottom: rem(16px);
            }
        }

            //&:before{
                //background-image: "../img/decor/headphones-1.png";
                //display: flex;
            
            //}        
            //&:before{
                //content: url("../img/decor/headphones-1.png");
                
            //}
            
    }

    &__main-title{
        font-size: rem(48px);
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: rem(20px);
        margin-top: rem(32px);
        text-transform: uppercase;
       
        @include tablets{
            padding: 0 5%;
        }
    }

    &__title-desk{
        font-family: 'Alegreya Sans';
        font-size: rem(21px);
        margin-bottom: rem(36px);
        padding-right: 10%;

        @include tablets{
            padding: 0 23%;
        }

        @include phones{
            padding: 0 19%;
            font-size: rem(18px);
        }
    }

}